.graph-container {
    /* position: fixed; */
    top: 0;
    right: 0;
    max-height: 300px;
    width: 600px; /* Set your desired width */
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    margin: 15px; 
  }
  